* {
    box-sizing: border-box;
    margin: 0;
}
body {
    margin: 0;
    min-height: 100vh;
    background-color: rgba(198, 188, 188, 0.742);

}
.wrapper {
    margin:  auto;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}

h2 {
    text-align: center;
   
    margin-bottom: 15px;
}
.salary p {
    margin-bottom: 20px;
}
.worker, .mystring, .car {
    border: 2px red dashed;
    padding: 15px;
    margin: 10px;
}
hr .line {
    height: 5px;
    background-color: rgb(48, 168, 37);
}
.line{
    border-top: 5px solid rgb(48, 168, 37);
   padding-bottom: 5px;
   padding-top: 10px;

}
.mystring p, .car p {
    margin: 10px;
    
}
.mystring div, .car div, .animal div{
    padding: 5px;
    border: 2px solid darkblue;
    margin-bottom: 5px;
}
h3 {
    text-align: center;
}